version: '3.8'
services:
  api:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - milvus
  milvus:
    image: milvusdb/milvus:v2.2.0
    environment:
      - TZ=UTC
    ports:
      - "19530:19530"
      - "9091:9091"
